<?xml version="1.0"?>
<config>
    <modules>
        <Fram_ProductRequest>
            <version>0.1.0</version>
        </Fram_ProductRequest>
    </modules>
    <global>
        <blocks>
            <productrequest>
                <class>Fram_ProductRequest_Block</class>
            </productrequest>
        </blocks>
        <helpers>
            <productrequest>
                <class>Fram_ProductRequest_Helper</class>
            </productrequest>
        </helpers>
        <models>
            <productrequest>
                <class>Fram_ProductRequest_Model</class>
                <resourceModel>productrequest_resource</resourceModel>
            </productrequest>
            <productrequest_resource>
                <class>Fram_ProductRequest_Model_Resource</class>
                <entities>
                    <request>
                        <table>product_request</table>
                    </request>
                </entities>
            </productrequest_resource>
        </models>
        <resources>
            <productrequest_setup>
                <setup>
                    <module>Fram_ProductRequest</module>
                </setup>
            </productrequest_setup>
        </resources>
        <template>
            <email>
                <customer_submit_request_template translate="label" module="productrequest">
                    <label>Customer Submitted Request Email</label>
                    <file>productrequest/customer_submit_request.html</file>
                    <type>html</type>
                </customer_submit_request_template>
                <admin_approve_request_template translate="label" module="productrequest">
                    <label>Admin Approve Request Email</label>
                    <file>productrequest/admin_approve_request.html</file>
                    <type>html</type>
                </admin_approve_request_template>
            </email>
        </template>
        <events>
            <admin_approve_request>
                <observers>
                    <productrequest_approve>
                        <type>singleton</type>
                        <class>Fram_ProductRequest_Model_Observer</class>
                        <method>adminApproveRequest</method>
                    </productrequest_approve>
                </observers>
            </admin_approve_request>
            <admin_system_config_changed_section_productrequest_options>
                <observers>
                    <productrequest_config>
                        <type>singleton</type>
                        <class>Fram_ProductRequest_Model_Observer</class>
                        <method>adjustModuleState</method>
                    </productrequest_config>
                </observers>
            </admin_system_config_changed_section_productrequest_options>
        </events>
    </global>
    <frontend>
        <routers>
            <productrequest>
                <use>standard</use>
                <args>
                    <module>Fram_ProductRequest</module>
                    <frontName>productrequest</frontName>
                </args>
            </productrequest>
        </routers>
        <events>
            <customer_submit_request>
                <observers>
                    <productrequest_submit>
                        <type>singleton</type>
                        <class>Fram_ProductRequest_Model_Observer</class>
                        <method>customerSubmitRequest</method>
                    </productrequest_submit>
                </observers>
            </customer_submit_request>

        </events>
        <layout>
            <updates>
                <productrequest>
                    <file>productrequest.xml</file>
                </productrequest>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <productrequest>
                    <file>productrequest.xml</file>
                </productrequest>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productrequest before="Mage_Adminhtml">Fram_ProductRequest_Adminhtml</productrequest>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <productrequest_options>
            <general>
                <enable>1</enable>
            </general>
            <submit>
                <enable>1</enable>
            </submit>
            <submitted_email>
                <sender_name>Fram^ Ecommerce</sender_name>
                <sender_email>no-reply@wearefram.com</sender_email>
            </submitted_email>
            <approval_email>
                <admin_name>Fram^ Admin</admin_name>
                <admin_email>fram-admin@wearefram.com</admin_email>
            </approval_email>
        </productrequest_options>
    </default>
</config>