<!--@subject Your request has been approved by our admins @-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
    <p>Hi {{var name}},</p>
</div>
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:30px 50px; padding:0;">
    <p>Thank you for contacting us. After reviewing your request, we would like to inform you that, your product request
        is verified and accepted.</p>
    <p>We will soon add this product to the product catalog on our website. Thank you for being a Fram Ecommerce customer and have an amazing day.</p>
</div>
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
    <p>Best Regards,</p>
    <p>Fram Ecommerce</p>
</div>
</body>