<!--@subject Important Announcement from Fram^ Admin Team @-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
    <p>Hi {{var name}},</p>
</div>
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:30px 50px; padding:0;">
    <p>Your request is sent to our admins. We will shortly review your request validations and should send you a
        personal response as soon as possible.</p>
    <p>Please wait for at lease 3-5 hours before receiving the approval email from us.</p>
</div>
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
    <p>Yours sincerely,</p>
    <p>Fram Ecommerce</p>
</div>
</body>

